.container {
  margin: 0 auto;
  margin-top: 50px;
  background-color: #f6ebfd;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  border: 15px solid #885df1;
  border-radius: 20px;

  font-family: Rubik, sans-serif;
}
#main {
  position: relative;
  padding: 30px 20px 30px 20px;
}
/* #forecast {
  position: absolute;
  bottom: 30px;
  margin: 0;
} */
.bottom {
  display: flex;
  justify-content: center;
}
#last-child {
  padding: 0;
}
#bottom-panel {
  position: absolute;
  bottom: 30px;
  margin: 0;
  padding: 0 20px 0 20px;
}
.card-body {
  text-align: center;
  height: 150px;
}
h5.card-title {
  padding: 0;
}
div.card {
  border-radius: 15px;
  border: none;
  text-align: center;
  height: 150px;

  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #f65a87;

  box-shadow: 5px 10px 15px #9aabb9;
}
div.col {
  padding: 0px 24px 0px 0px;
}
.head {
  display: flex;
  justify-content: right;
}
#selectedLocation {
  font-size: 30px;
  display: flex;
  justify-content: right;
  margin-right: 28px;
  margin-top: 10px;
  color: #272142;
  font-weight: 500;
}
.time {
  color: #272142;

  margin-right: 28px;
  font-size: 18px;
  border-left: 2px solid #272142;
  border-radius: 1px;
  padding-left: 10px;
}
.day {
  color: #272142;

  font-size: 18px;
  padding-right: 10px;
}
#main h1 {
  color: #272142;

  text-align: right;
  font-size: 70px;
  font-weight: 500;

  position: relative;
  top: 320px;
  right: 30px;
}
#main hr {
  border: 1px solid #272142;
  opacity: 1;
  border-radius: 2px;
  position: relative;
  top: 330px;
  margin-left: auto;
  margin-right: auto;
  width: 767px;
}
#right-panel {
  border-left: 1px solid #272142;
  padding: 30px 20px 30px 20px;

  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
#location {
  font-size: 25px;
  margin: auto;
  padding: 5px;
}
.panel-head {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 250px;
  border: 1px solid #272142;
  border-radius: 5px;
  padding: 3px;
}
.panel-head select {
  width: 180px;
  background: transparent;
  border: none;
  appearance: none;
}
#carret {
  font-size: 20px;
  position: relative;
  top: 5px;
  right: 15px;
}
#right-panel h1 {
  color: #272142;

  font-size: 70px;
  text-align: center;
  margin: 30px 0 15px 0;
}
#right-panel p {
  color: #272142;

  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}
#right-panel hr {
  border: 1px solid #272142;
  opacity: 1;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
h5 {
  text-align: center;
  padding: 15px;
}
strong {
  color: #f65a87;
  font-weight: 400;
}
#weather-icon {
  font-size: 35px;
  width: 55px;
  padding: 7px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
  text-align: center;

  color: #272142;

  background: rgba(255, 255, 255, 0.589);
  backdrop-filter: blur(10px);
  border-radius: 15px;

  box-shadow: 5px 10px 15px #9aabb9;
}
#weather-icon img {
  width: 45px;
}
.next-day-forecast {
  margin-left: 20px;
}
li {
  color: #272142;

  margin-left: 5px;
}
#temp-right {
  text-align: right;
}
#week-days {
  color: #272142;
  font-weight: 500;
  opacity: 100%;
}
li:last-child {
  color: #f65a87;
  opacity: 50%;
}
ul {
  color: #272142;

  padding: 3px;
}
.custom-select {
  padding: 7px;
  background-color: #dfd6f8;
  width: 130px;
  height: 30px;
  margin: 3px 4px 2px 1px;
  border: none;
  border-radius: 3px;
}
p {
  font-weight: lighter;
  opacity: 70%;
}
.inline {
  display: inline-block;
}
a {
  position: relative;
  top: -35px;
  left: 10px;
  font-size: 20px;
}
.main_temp {
  text-align: center;
  margin-top: 50px;
}
.celcius {
  left: -12px;
  top: 0px;
  text-decoration: none;
  color: #272142;
}
.farenheit {
  text-decoration: none;
  color: #272142;
}
.btn_search {
  border-radius: 10px;
  background-color: transparent;
  padding: 5px;
  border: none;
  background-color: #885df1;
  color: #272142;
  font-size: 14px;

  width: 100px;
  transition: all 200ms ease-in-out;
}
.btn_search:hover {
  background-color: transparent;
  color: #272142;
  border: 1px solid #885df1;
}
.curLocation {
  font-size: 14px;
  text-decoration: none;
  color: #272142;
}
.author {
  margin: 15px 0px 0px 310px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.link {
  position: normal;
  top: 0px;
  left: 0px;
  font-size: 20px;
}
#img {
  position: absolute;
  top: 425px;
  left: 450px;
  background-color: #dfd6f8;
  border-radius: 50px;
}
#speed {
  color: #f65a87;
}
